* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  display: grid;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  background: #002981;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-block: 0.6rem;
  color: #fff;
}

h2 {
  text-indent: 24px;
  font-size: 2.4rem;
  color: #f0fff0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  column-gap: 16px;
  row-gap: 12px;
  width: clamp(280px, 100%, 1000px);
  margin-block: 24px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 12px;
  max-width: 280px;
  height: 250px;
}

figure {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

img {
  border-radius: 20px;
  width: 100%;
  width: 280px;
  max-height: 150px;
  object-fit: cover;
}

button {
  font-size: 1.6rem;
  margin-block-start: 16px;
  padding-inline: 35px;
  padding-block: 16px;
  max-width: 180px;
  max-height: 50px;
}

.center {
  margin: 0 auto;
  width: 38rem;
  background-color: blueviolet;
}
